/* BODY */
body {
    text-align: center;
    font-size: 20px;
}

/* Header part of the page */
.head {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: rgb(40, 83, 202);
    color: white;
    text-align: left;
}

/* Buttons part of the page */
.buttons {
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #DDD;
}
.buttonsColumn {
    display: flex;
    flex-direction: row;
    align-content: center;
    border: solid 1px black;
    padding: 5px;
}
.buttonsColumn div {
    display: flex;
    flex-direction: column;
}
.buttonsColumn div > label{
    height: 22px;
}
.buttons input, .buttons label{
    margin: 5px;
}

/* Body part of the page  */
.body {
    width: auto;
    background-color: rgb(132, 188, 224);
    padding: 10px;
}

/* SVG styling */

#NPS_CSV_Cost {
    width: 100%;
    height: 650px;
    border: 1px black solid;
}
#graph_main_container {
    width: 100%;
    height: 650px;
    border: 1px black solid;
}

/* Statistical text below SVG */
#statistics {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#statistics div {
    padding: 15px;
    flex: 1;
}
.titleContainer p, .titleContainer h4{
    margin: 5px;
}

/* Helper styling */
.wordWrap {
    word-wrap: break-word;
}
.indent {
    padding: 10px;
}