body {
    text-align: center;
}
.head {
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: lightgreen;
    text-align: left;
}
.buttons {
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: lightgray;
}
.body {
    width: auto;
    background-color: lightskyblue;
    padding: 10px;
}
.indent {
    padding: 10px;
}
#npsPrices {
    width: 100%;
    height: 250px;
    background-color: #CCC;
    border: 2px black solid;
}
#userConsumption {
    width: 100%;
    height: 250px;
    border: 2px black solid;
}